<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>自由時間計算ツール</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.min.js"></script>
</head>
​
<body>
  <div id="content1"></div>
  <a name="header"><h1><img src="images/image8.png" alt=""></h1></a>
  <h3><p class="a">このサイトは、平日1日あたりの自由に使える時間を選択すると、週、月、年単位で計算することが出来ます。さらに、表示された時間を時給に換算し、時間の価値も算出することが出来ます。</p></h3>
  <h3><p class="f">平日１日の自由時間を選択して下さい</p></h3>
  <div id="app">
    <select v-model="time"> 
      <option disabled value="">選択してください</option>
      
      <option value="0.5">30分</option>
      <option value="1">1時間</option>
      <option value="1.5">1時間30分</option>
      <option value="2">2時間</option>
      <option value="2.5">2時間30分</option>
      <option value="3">3時間</option>
      <option value="3.5">3時間30分</option>
      <option value="4">4時間</option>
      <option value="4.5">4時間30分</option>
      <option value="5">5時間</option>
      <option value="5.5">5時間30分</option>
      <option value="6">6時間</option>
      <option value="6.5">6時間30分</option>
      <option value="7">7時間</option>
      <option value="7.5">7時間30分</option>
      <option value="8">8時間</option>
      <option value="8.5">8時間30分</option>
      <option value="9">9時間</option>
      <option value="9.5">9時間30分</option>
      <option value="10">10時間</option>
      <option value="10.5">10時間30分</option>
      <option value="11">11時間</option>
      <option value="11.5">11時間30分</option>
      <option value="12">12時間</option>

    </select>
    
    <div v-if="time >= 0.5">
      
    <h2>あなたの自由時間は…</h2>
      <p>週  <b>{{week}}</b>時間</p>
      <p>月  <b>{{month}}</b>時間</p>
      <p>年  <b>{{year.toLocaleString()}}</b>時間</p>
      
  <p class="e"></p>
  <h3><p class="g">この時間で出来ること</p></h3>
  
  
  　　<h2><p class="h">聴ける曲数</p></h2>
  <img src="images/image6.png" alt="music">
  <p>週　<b>{{Math.floor(music1).toLocaleString()}}</b>曲</p>
  <p>月　<b>{{Math.floor(music2).toLocaleString()}}</b>曲</p>
  <p>年　<b>{{Math.floor(music3).toLocaleString()}}</b>曲</p>
 <h3>(1曲 約4分)</h3>
  
    <p class="e"></p>
  <h2><p class="h">読めるマンガの冊数</p></h2>
  <img src="images/image3.png" alt="book">
  <p>週　<b>{{Math.floor(manga1).toLocaleString()}}</b>冊</p>
  <p>月　<b>{{Math.floor(manga2).toLocaleString()}}</b>冊</p>
  <p>年　<b>{{Math.floor(manga3).toLocaleString()}}</b>冊</p>
  <h3>(1冊 約20分)</h3>

  <p class="e"></p>
  <h2><p class="h">観れるアニメの話数</p></h2>
  <img src="images/image9.png" alt="anime">
  <p>週　<b>{{Math.floor(anime1).toLocaleString()}}</b>話</p>
  <p>月　<b>{{Math.floor(anime2).toLocaleString()}}</b>話</p>
  <p>年　<b>{{Math.floor(anime3).toLocaleString()}}</b>話</p>
  <h3>（1話 約30分）</h3>

  <p class="e"></p>
  <h2><p class="h">観れる映画の本数</p></h2>
  <img src="images/image7.png" alt="movie">
  <p>週　<b>{{Math.floor(movie1).toLocaleString()}}</b>本</p>
  <p>月　<b>{{Math.floor(movie2).toLocaleString()}}</b>本</p>
  <p>年　<b>{{Math.floor(movie3).toLocaleString()}}</b>本</p>
  <h3>(1本 約120分)</h3>
  
    <p class="e"></p>
  <h2><p class="h">観れるサッカーの試合数</p></h2>
  <img src="images/image4.png" alt="soccer">
  <p>週　<b>{{Math.floor(soccer1).toLocaleString()}}</b>試合</p>
  <p>月　<b>{{Math.floor(soccer2).toLocaleString()}}</b>試合</p>
  <p>年　<b>{{Math.floor(soccer3).toLocaleString()}}</b>試合</p>
  <h3>（Jリーグの年間試合数は約1,000試合）</h3>

<p class="e"></p>
  <h2><p class="h">英会話の授業回数</p></h2>
  <img src="images/image10.png" alt="English">
  <p>週　<b>{{Math.floor(English1).toLocaleString()}}</b>回</p>
  <p>月　<b>{{Math.floor(English2).toLocaleString()}}</b>回</p>
  <p>年　<b>{{Math.floor(English3).toLocaleString()}}</b>回</p>
  <h3>（1回 約50分）</h3>

<p class="e"></p>
  <h2><p class="h">外国語で日常会話が出来るまで</p></h2>
  <img src="images/image14.png" alt="language">
  <p>韓国語　<b>{{Math.floor(language1).toLocaleString()}}</b>日</p>
  <p>中国語　<b>{{Math.floor(language2).toLocaleString()}}</b>日</p>
  <p>英語　<b>{{Math.floor(language3).toLocaleString()}}</b>日</p>
  <p>かかる</p>
  <h3>（目安 各1,000時間 1,500時間 3,000時間）</h3>

  <p class="e"></p>
  <h2><p class="h">簿記2級に合格するまで</p></h2>
  <img src="images/image13.png" alt="boki">
  <p><b>{{Math.floor(boki).toLocaleString()}}</b>日</p>
  <p>かかる</p>
  <h3>（目安 350~500時間）</h3>

  <div v-if="month >= 50">
    <p class="e"></p>
  <h2><p class="h">平日の睡眠時間</p></h2>
  <img src="images/image5.png" alt="sleep">
  <p><b>{{Math.floor(sleep)}}</b>時間</p>
  <p>延長できる</p>
  <h3>(1日2時間の自由時間で1時間延長できる)</h3>
  </div>
  <p class="e"></p>
  <h3><p class="g">この時間で稼げる金額</p></h3>
  <p class="e"></p>
      <p v-html="images1"></p>
  　  <p>1日  <b>{{price.toLocaleString()}}</b>円</p>
  <p class="e"></p>
     <p v-html="images2"></p>
     <p>週　<b>{{Math.floor(money1).toLocaleString()}}</b>円</p>
     <p class="e"></p>
     <p v-html="images3"></p>
     <p>月　<b>{{Math.floor(money2).toLocaleString()}}</b>円</p>
     <p class="e"></p>
     <p v-html="images4"></p>
     <p>年　<b>{{Math.floor(money3).toLocaleString()}}</b>円</p>
     <h3><p class="a1">（福岡県の最低賃金842円で、週4日働いたとする）</p></h3>
  <p class="e"></p>
  <h3><p class="j">時間を大切にしていますか？</p></h3>
      <p class="m">表示された時間を見て、どう感じたかは人によって違うと思います。ですが、身体が元気なうちに好きな事が出来るのは、60歳ぐらいまでです。それに、中学生や高校生の時に比べて1年が短く感じるようになったでしょう。こう考えると実は好きなことができる時間は、そんなに多くないと感じませんか？
        だからといって焦る必要は全くありません。そもそも自由時間とは自分の好きなように使う時間です。『何もしない』ことを一概に『無駄にした』とは言えないでしょう。一番やってはいけないことは、自分が後になって後悔するような時間を過ごすことです。このサイトが、あなたの時間の過ごし方を、見つめなおすきっかけになればと考えています。</p>
  ​
  <p class="k"><a data-scroll href="#content1">もう１回計算する</a></p>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]',{
      speed: 300,
      });

    new Vue({
      el: '#app',
      data: {
        time: ''
        },
      computed: {
        //timeが変わったら、各値を算出する
        week: function(){
          return this.time * 7;
          },
        month: function(){
          return this.time * 31;
          },
        year: function(){
          return this.time * 365;
          },
        price:function(){
          return this.time * 842;
        },
        //priceが変わったら画像を表示
        images1: function(){
          let satsutaba = "";
					for (let i = 1000; i < this.price; i += 1000) {
            satsutaba += "<img src = ./images/image1.png></img>";
          }
          return satsutaba;
        },
        images2: function(){
          let satsutaba = "";
					for (let i = 1000; i < this.money1; i += 1000) {
            satsutaba += "<img src = ./images/image1.png></img>";
          }
          return satsutaba;
        },
        images3: function(){
          let satsutaba = "";
					for (let i = 10000; i < this.money2; i += 10000) {
            satsutaba += "<img src = ./images/image11.png></img>";
          }
          return satsutaba;
        },
        images4: function(){
          let satsutaba = "";
					for (let i = 100000; i < this.money3; i += 100000) {
            satsutaba += "<img src = ./images/image12.png></img>";
          }
          return satsutaba;
        },
        money1: function(){
          return this.price * 4;
        },
        money2: function(){
          return this.price * 16;
        },
        money3: function(){
          return this.price * 192;
        },
        music1: function(){
          return this.week / 0.067;
        },
        music2: function(){
          return this.month/ 0.067;
        },
        music3: function(){
          return this.year / 0.067;
        },
        manga1: function(){
          return this.week / 0.333;
        },
        manga2: function(){
          return this.month / 0.333;
        },
        manga3: function(){
          return this.year  / 0.333;
        },
        movie1: function(){
          return this.week / 2;
        },
        movie2: function(){
          return this.month / 2;
        },
        movie3: function(){
          return this.year  / 2;
        },
        soccer1: function(){
          return this.week / 1.5;
        },
        soccer2: function(){
          return this.month / 1.5;
        },
        soccer3: function(){
          return this.year / 1.5;
        },
        sleep: function(){
          return this.month / 50;
        },
        anime1: function(){
          return this.week / 0.5;
        },
        anime2: function(){
          return this.month / 0.5;
        },
        anime3: function(){
          return this.year / 0.5;
        },
        English1: function(){
          return this.week / 0.833;
        },
        English2: function(){
          return this.month / 0.833;
        },
        English3: function(){
          return this.year / 0.833;
        },
        boki: function(){
          return 425 / this.time;
        },
        language1: function(){
          return 1000 / this.time;
        },
        language2: function(){
          return 1500 / this.time;
        },
        language3: function(){
          return 3000 / this.time;
        }
        
      }
    })
    </script>
</body>
</html>









